@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


body{
  font-family: 'Poppins', sans-serif;
}

*{
  font-family: 'Poppins', sans-serif;
}

.col-md-4{
  background-color: #343a40;
}


.singup-header-p{
  color: white;
}
.singup-header-a{
  background: transparent;
  color: white;
  border: none;
  text-decoration: underline;
}

.singup-header-a:hover{
  color: blue;

}

.input-header-1,
.input-header-2{
  border-radius: 5px;
  padding: 5px 15px;
}

.login-butt-header{
  border-radius: 5px;
  padding: 6px 30px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: none;
  background-color: 	rgb(112,112,112);
  color: white;
}

.login-butt-header:hover{
  background-color: white;
  color: rgb(112,112,112);
}

.number-header,
.email-header{
  text-decoration: none;
}
.Home-icon{
  width: 20px;
  margin-right: 3px;
  margin-right: 10px;
}


.row{
  padding: 3em;
  width: 100%;
}
.provContain{
  display: flex;
  justify-content: center;
  align-items: center;
}
.province{
  margin-right: 2em;
  cursor: pointer;
}

.new-card image{
  transition: .5s ease;
}
.new-card image:hover{
  width: 30em;
  height: 20em;
}
.new-card:hover text{
  fill: black;
  display: block;
  opacity: 1;
}
.new-card text{
  opacity: 0;
  font-size: 20px;
  transition: .5s ease;
}
.provBody{
  background-color: #55595c;
  color: white;
}

.col-md-4{
    background-color: #343a40;
}




.iconCont{
    display: flex;
    justify-content: space-between;
}
.icon2{
    height: 10em;
    display: flex;
    align-items: end;
}


footer {
    background-color: #212529;
    margin-top: 5em;
    
}

#aboutInfo{
    border-bottom: solid 2px white;
}
#aboutHead{
    color: rgb(28, 115, 168);
}
#aboutText{
    color:white;
}



#popularSearches{
    color:rgb(28, 115, 168);
    padding-top: 10px;
    margin-bottom: 25px;
}
#popularSearchesUl{
    list-style: none;
    padding-left: 0;
    
}
#searches1, #searches2, #searches3, #searches4,#searches5{
    color: white;
    text-decoration: none;
    background-color: #6c6f711f;
    padding: 10px;
    border-radius: 5px;
}

#searches1:hover, #searches2:hover, #searches3:hover, #searches4:hover,#searches5:hover{
    color: rgb(28, 115, 168);
    
}


#city-div {
text-align: center;
}

.card-img-city {
width: 364px;
height: 170px;
object-fit: cover;
}

.a-city {
text-decoration: none;
color: white;
}

.a-city:hover {
color: rgb(28, 115, 168);
}

.col.city-card {
margin: 20px;
background-color: #55595c;
height: fit-content;
width: fit-content;
flex: 0.5 0 0%;;
padding-left: 0px;
padding-right: 0px;
}

.card-body{
padding-bottom: 0px; 
}

#city-div {
display: flex;
justify-content: center;
margin-top: 20px;

}

.my-container1 {
display: flex;
justify-content: flex-end;
flex-wrap: wrap;
width: 400px;
margin-left: 20px;
margin-right: 20px;
}

.row .my-container1 {
width: fit-content;
height: 300px;
padding-left: 0;
padding-right: 0;
padding-bottom: 0;
}

.my-container2 {
display: flex;
justify-content: flex-end;
flex-wrap: wrap;
width: 100px;
}

.row .my-container2 {
width: fit-content;
height: 260px;
padding-left: 0;
padding-right: 0;
padding-top: 10px;
padding-bottom: 0;
}

.back-div{ 
  text-decoration: none;
  color: black;
  margin-left: 45em;
}


.shadow-box:hover{
  box-shadow: 5px 5px 5px rgb(171, 169, 169);
}

.cursor{
  cursor: pointer;
}


.row {
  padding-top: 0;
}

#filters {
  /* Your provided styling for the filters */
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#filters label {
  color: white;
  margin-right: 10px;
  margin-left: 10px;
}

#categoryFilter {
  border-radius: 5px;
  padding: 5px 10px;
}

#filters button {
  background-color: whitesmoke;
  color: black;
  border: 1px solid black;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 11em;
  transition: .3s ease-in-out;
}
#filters button:hover{
  background-color: black;
  color: white;
}


/* Deepu changes */
.h1Div{
  height: 15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.h1Div p{
  margin-top: -60px;
}




.text{
  padding: 20px;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 4em;
}
.text h3{
  text-align: center;
  margin-bottom: 1.5em;
}


main h1{
  text-align: center;
  padding: 50px;
  font-family: 'Poppins', sans-serif;
}

.provinces{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.provinces .ontario{
  background-image: url(ontario.jpg);
  background-position: center;
  background-size: cover;
  opacity: 1;
  height: 14em;
  margin: 20px;
  transition: .5s;
  box-shadow: 10px 5px 15px black;
  border-radius: 5px;
}


.provinces .alberta{
  background-image: url(alberta.jpg);
  background-position: center;
  background-size: cover;
  height: 14em;
  margin: 20px;
  box-shadow: 10px 5px 15px black;
  border-radius: 5px;
}

.provinces .BC{
  background-image: url(bcorg.jpg);
  background-position: center;
  background-size: cover;
  height: 14em;
  margin: 20px;
  box-shadow: 10px 5px 15px black;
  border-radius: 5px;
}


.text1{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  transition: 1s ease-in-out;
  cursor: pointer;
}

.name1 h3{
  display: flex;
  justify-content: center;
  height: 100%;
  color: white;
  width: 100%;
  transition: 1s ease-in-out;
}

.description1{
  width: 100%;
  opacity: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: white;
  transition: 1s ease-in-out;
  margin-left: 15px;
}

.text1:hover .name1 h3 {
  width: 10%;
  opacity: 1;
}

.text1:hover .description1 {
  opacity: 1;
}


.provinces .alberta .text2{
  /* background-color: aqua; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  transition: 1s ease-in-out;
  cursor: pointer;
}

.name2 h3{
  display: flex;
  justify-content: center;
  height: 100%;
  color: white;
  width: 100%;
  transition: 1s ease-in-out;
}

.description2{
  width: 100%;
  opacity: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: white;
  transition: 1s ease-in-out;
  margin-left: 15px;
}

.text2:hover .name2 h3 {
  width: 10%;
}

.text2:hover .description2 {
  opacity: 1;
  width: 40%;
}

.provinces .BC .text3{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  transition: 1s ease-in-out;
  cursor: pointer;
}

.name3 h3{
  display: flex;
  justify-content: center;
  height: 100%;
  color: white;
  width: 100%;
  transition: 1s ease-in-out;
}

.description3{
  width: 100%;
  opacity: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: white;
  transition: 1s ease-in-out;
  margin-left: 15px;
}

.text3:hover .name3 h3 {
  width: 20%;
}

.text3:hover .description3 {
  width: 40%;
  opacity: 1;
}


.createdRow{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  padding: 20px;
  padding-left: 90px;
}

.cityCard{
  /* background-color: aqua; */
  width: 90%;
  border-radius: 5px;
  box-shadow: 10px 5px 13px black;
  height: 10em;
  margin-bottom: 2em;
}

.cityCard img{
  width: 100%;
  height: 10em;
  border-radius: 5px;
}
.cityCard h5{
  color: black;
  position: absolute;
}


